.a-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: calculateEm(10px, 16px) calculateEm(10px, 16px) 0;
    padding: 0 calculateEm(10px, 16px);
    box-sizing: border-box;
    border: 1px solid $color-green;
    text-decoration: none;
    font-size: calculateRem(16px);
    font-weight: $bold;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    @include transitionAll();
    min-width: calculateEm(140px, 16px);
    line-height: calculateLine(40px, 16px);
    height: calculateEm(40px, 16px);

  
    &:active, &:focus {
      outline: none;
    }
  
    &.-primary {
      background: $color-green;
      color: $text-color;
  
      &:hover {
        background: $color-green2;
        color: $white;
      }
    }
  }