@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

@import "variables";
@import "mixin";
@import "modifiers";
@import "atoms";
@import 'molecules';
@import 'organisms';

@import "icons";
@import "vendors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
  font-size: 14px;

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}

html, body {
  min-height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  font-family: $font-default;
  font-weight: $normal;
  color: $text-color;
  background: $white;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  overflow-x: hidden;


}

a {
  color: $primary-color;
  &:hover {
    text-decoration: none;
    color: $text-color;
  }

}

button {
  background: none;
  border: none;
  padding: none;
  margin: none;

  &:focus {
    outline:0;
  }
}

h1, h2, h3, h4, h5 {
  line-height: 1.5;
  font-weight: $normal;
}

p {
  margin: calculateEm(15px, 16px) 0;
  font-size: calculateRem(16px);
  line-height: 1.4;
  b {
    font-weight: $bold;
  }
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1920px;
  padding: 0;
  position: relative;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    line-height: 1.4;
  }
}

label {
  line-height: 1.4;
}