.m-menu-second {
    flex: 0 0 25%;
    padding: calculateEm(15px, 16px);
    background: $primary-color;
    a {
        color: $white;
    }

    ul {
        li {
            margin: calculateEm(10px, 16px) 0;
        }
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}