.o-section {
    $p: &;
    position: relative;
    width: 100%;
    padding: calculateEm(30px, 16px) 0;
    font-size: calculateRem(16px);

    &.animated {
        position: absolute;
       // max-width: 100%;
        
        // @include media-breakpoint-up(xxl) {
        //     max-width: 1740px;
        // };
    }
}